body {
    background-color: #ebecf1;
    margin: 0;
}

#header {
    background-color: #0779e4;
}

#main-card {
    margin: 1rem;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    color: #003;
    background-color: lightblue;
    transition: 0.08s;
}

.nav-link {
    cursor: pointer;
}